@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .layout__body {

    // Header

    .header__inner,
    .header__body,
    .header__items {
      height: 100%;
    }

    // Icon
    // .icon-logo {
    //   height: 100px;
    //   transition: width .3s ease transform .3s ease;
    //
    //   .layout-header--scrolled & {
    //     height: 60px;
    //     transform: scale(1.25) translateY(7px);
    //   }
    // }

    // Layout

    .layout-primary {
      @include break-min($sm) {
        .layout-container--has-sidebar & {
          width: 74.35%;
          flex: 0 0 74.35%;
        }
      }
    }

    // Blocks

    // Home Hero

    .hero-home__body {
      .layout__body & {
        height: 500px;

        @include break-min($sm) {
          height: 600px;
        }

        @include break-min($lg) {
          height: 800px;
        }
      }
    }

    // Top Level Landing Page Intro

    .block-intro__column {
      @include break-min($sm) {
        width: 49.35%;
        flex: 0 0 49.35%;
      }
    }

    // Icon Tiles

    li.tiles-icon__item,
    .editor-styles-wrapper li.tiles-icon__item {
      .layout__body & {
        @include break-min($md) {
          width: calc(((1 / 2) * 100%) - #{$grid-gap});
        }
      }
    }

    // Link tiles

    li.link-tiles__item {
      width: calc(((1 / 2) * 100%)- #{$grid-gap});

      @include break-min($md) {
        width: calc(((1 / 4) * 100%) - #{$grid-gap});
      }
    }

  }
}
