.card-listing__card {
  cursor: pointer;
  width: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
}

.card-listing__image-wrap {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  padding-bottom: calc((7 / 10) * 100%);

  position: relative;
}

.card-listing__image {
  @include absolute_fill;
  @include object_fit_cover;
  transition: transform .5s ease;
  will-change: transform;

  .listing--member & {
    @include object_fit_contain;
    padding: 0 $spacer-medium;
  }

  .card-listing__card:hover & {
    transform: scale(1.015);
  }
}

.card-listing__body {
  background-color: $color-light-grey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: $item-padding * 2;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;
}

p.card-listing__date {
  @include font_small_text;
  color: $color-dark-grey;
  margin-bottom: $item-padding-small;
}

h3.card-listing__title {
  @include font_heading-5;

  @include break-min($sm) {
    margin-bottom: $item-padding * 2;
  }
}

a.card-listing__fauxlink {
  @include absolute_fill;
  z-index: 2;
}
