.listing-latest {
  @include spacer-top;
  margin-bottom: $spacer-small;

  @include break-min($sm) {
    margin-bottom: 100px;
  }
}

.listing-latest__inner {
  @include inner;
}

.listing-latest__header {
  margin-bottom: $spacer-small;

  @include break-min($sm) {
    margin-bottom: $spacer-medium;
  }
}

h3.listing-latest__title {
  @include font_heading-2;
  margin-bottom: $item-padding-smaller;
}
