.listing-latest {
  @include spacer_bottom;
}

.listing-latest__inner {
  @include inner;
}

.listing-latest__header {
  margin-bottom: $spacer-small;
  text-align: center;

  @include break-min($sm) {
    margin-bottom: $spacer-medium * 1.5;
  }
}

h3.listing-latest__title {
  @include font_heading-2;
  margin-bottom: $item-padding-smaller;
  text-transform: capitalize;
}

a.listing-latest__link {
  color: $color-grey-text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
