.header {
  background-color: transparent;
  color: $color-white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  transition: color .3s ease, background-color .3s ease;

  .no-hero &,
  &.header--scrolled {
    background-color: $color-header;
    color: $color-secondary;
  }

  .logged-in.admin-bar & {
    top: 46px;

    @include break-min(783px) {
      top: 32px;
    }
  }
}

.header__inner {
  padding-left: $grid-gap;
  padding-right: $grid-gap;
}

.header__items {
  padding-top: 10px;
  padding-bottom: 10px;
  height: $headerHeight;

  display: flex;

  transition: height .3s ease;

  .header--scrolled & {
    height: $headerHeightScrolled;
  }
}

.header__item {
  flex: 1 1 auto;
}

.header__item--logo {
  width: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 60px;

  transition: color .3s ease, flex-basis .3s ease, width .3s ease;

  .header--scrolled & {
    color: $color-primary;
    width: 45px;

    flex-basis: 45px;
  }
}

.header__item--nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include break-min($md) {
    flex-wrap: wrap;
  }
}

.header__item--tools {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
}

.header__title {
  @include screen_reader_only;
}

.header__logo {
  display: block;

  svg {
    height: $headerHeight;
    will-change: height;
  }

  .header--scrolled & {
    svg {
      height: $headerHeightScrolled;
    }
  }
}
