.header {
  background-color: transparent;
  color: $color-white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  transition: color .1s ease, background-color .1s ease;

  .language-switcher & {
    top: 35px;

    @include break-min($headerNavShow) {
      top: 0;
    }
  }

  .no-hero &,
  &.header--scrolled {
    background-color: $color-header;
    color: $color-secondary;
  }

  .logged-in.admin-bar & {
    top: 46px;

    @include break-min(783px) {
      top: 64px;
    }

    @include break-min($headerNavShow) {
      top: 32px;
    }
  }

  .language-switcher.logged-in.admin-bar & {
    top: 81px;

    @include break-min(783px) {
      top: 99px;
    }

    @include break-min($headerNavShow) {
      top: 64px;
    }

    @include break-min(938px) {
      top: 32px;
    }
  }
}

.header__inner {
  padding-left: $grid-gap;
  padding-right: $grid-gap;
}

.header__items {
  padding-top: 10px;
  padding-bottom: 10px;
  height: $headerMobileHeight;

  display: flex;

  transition: height .3s ease;

  .header--scrolled & {
    height: $headerMobileHeightScrolled;
  }

  @include break-min($headerNavShow) {
    height: $headerHeight;

    .header--scrolled & {
      height: $headerHeightScrolled;
    }
  }
}

.header__item {
  flex: 1 1 auto;
}

.header__item--logo {
  width: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 40px;

  transition: color .1s ease, flex-basis .1s ease, width .1s ease;

  @include break-min($headerNavShow) {
    width: 60px;

    flex: 0 0 60px;
  }

  .header--scrolled & {
    color: $color-primary;
    width: 32px;

    flex-basis: 32px;

    @include break-min($headerNavShow) {
      width: 45px;

      flex-basis: 45px;
    }
  }
}

.header__item--nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include break-min($md) {
    flex-wrap: wrap;
  }
}

.header__item--tools {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;

  &.header__item--language-switcher {
    @include break-min($headerNavShow) {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      .header--scrolled & {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

.header__title {
  @include screen_reader_only;
}

.header__logo {
  display: block;

  svg {
    height: $headerHeight;
    will-change: height;
  }

  .header--scrolled & {
    svg {
      height: $headerHeightScrolled;
    }
  }
}
