.footer-newsletter {
  @include spacer_bottom;
  background-color: $color-light-grey;
  border-radius: 5px;
}

.footer-newsletter__content {
  padding: $item-padding;

  @include break-min($xs) {
    display: flex;
    align-items: center;
    padding: #{$spacer-medium * 1.5} $spacer-medium;
  }
}

p.footer-newsletter__text {
  @include font_heading-4;
  margin-right: $grid-gap;
  margin-bottom: 5px;

  @include break-min($xs) {
    margin-bottom: 0;
  }
}

a.footer-newsletter__link {
  @include button_primary;
  margin-left: auto;
  width: 100%;

  @include break-min($xs) {
    width: auto;
  }
}
