@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.descriptive-cards {
  @include spacer;
  @include ignore_restrained_width;
}

.descriptive-cards__inner {
  @include inner;
}

.descriptive-cards__header {
  @include spacer_small;
}

h3.descriptive-cards__title {
  @include font_heading-2;
  margin-bottom: $item-padding-smaller;
}

.descriptive-cards__items {
  @include listing_items;

  @include break-min($md) {
    margin-top: 0;
  }
}

.descriptive-cards__item {
  @include listing_item;
}

.descriptive-card {
  cursor: pointer;
  width: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
}

.descriptive-card__image-wrap {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  padding-bottom: calc((7 / 10) * 100%); 

  position: relative;
}

.descriptive-card__image {
  @include absolute_fill;
  @include object_fit_cover;
  transition: transform .5s ease;
  will-change: transform;

  .descriptive-card:hover & {
    transform: scale(1.015);
  }
}

.descriptive-card__body {
  background-color: $color-light-grey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: $item-padding * 2;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;
}

h3.descriptive-card__title {
  @include font_heading-4;

  @include break-min($sm) {
    margin-bottom: $item-padding * 2;
  }
}

a.descriptive-card__fauxlink {
  @include absolute_fill;
  z-index: 2;
}

