.cta-block,
.editor-block-list__layout .cta-block {
  @include spacer_bottom;
  background: $color-primary;
  overflow: hidden;
  width: 100%;

  position: relative;
}

.cta-block__inner,
.editor-block-list__layout .cta-block__inner {
  @include inner;
  position: relative;
  z-index: 2;
}

.cta-block__body,
.editor-block-list__layout .cta-block__body {
  min-height: 450px;
  width: 100%;

  @include break-min($sm) {
    min-height: 600px;
  }
}

.cta-block__content,
.editor-block-list__layout .cta-block__content {
  background-color: $color-white;
  color: $color-secondary;
  margin-left: $grid-gap;
  margin-right: $grid-gap;
  padding: 20px;
  
  width: calc((3 / 4) * 100%);

  position: absolute;
  left: 0;
  bottom: $spacer-small;

  @include break-min($sm) {
    margin-right: auto;
    padding: $spacer-medium;
    
    bottom: $spacer-large;
  }
  
  @include break-min($md) {
    width: calc((5 / 12) * 100% + #{$grid-gap / 2});
    padding: 60px $spacer-medium 45px $spacer-medium;
  }

  & *:last-child {
    margin-bottom: 0;
  }

  &:after {
    --border-height: 20px;

    background-color: $color-primary;
    content: '';

    height: var(--border-height);
    width: 50%;

    position: absolute;
    left: 0;
    bottom: calc(var(--border-height) * -1);
    z-index: 1;
  }
}

h3.cta-block__title,
.editor-block-list__layout h3.cta-block__title {
  @include font_heading-cta;
  margin-bottom: $spacer-small;
}

p.cta-block__text,
.editor-block-list__layout .cta-block__text {
  @include font_large_text;
  margin-bottom: $spacer-small;
}

a.cta-block__link,
.editor-block-list__layout a.cta-block__link {
  @include button_secondary;
  margin: 0 !important;

  &.cta-block__link--external {
    display: inline-flex;
    justify-content: center;

    svg {
      margin-left: 5px;
      width: 14px;
    }
  }
}

.cta-block__background-image,
.editor-block-list__layout .cta-block__background-image {
  @include absolute_fill;
  font-family: 'object-fit: cover;';
  object-fit: cover;

  z-index: 1;
}