.link-view-more {
  @include spacer;

  display: flex;
  align-items: center;
  justify-content: center;
}

a.link-view-more__link {
  text-decoration: none;

  display: flex;
  align-items: center;
}

.link-view-more__icon-wrapper {
  background-color: $color-mid-grey;
  border-radius: 50%;
  color: $color-primary;
  margin-left: 9px;
  padding: 12px;

  position: relative;
}

.link-view-more__icon {
  color: currentColor;
    
  height: 33%;
  width: 33%;

  position: absolute;
  transform: translate(-50%, -50%);
}

