@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.statistic-cards {
  @include spacer;
}

.statistic-cards__cards {
  @include structural_ul;
  display: flex;
  margin-right: -$grid-gap;
}

.statistic-cards__card {
  flex: 0 0 calc(((1 / 3) * 100%) - #{$grid-gap / 2});

  position: relative;
  z-index: 1;

  &:after {
    content: '';
    background: $color-primary;

    height: 5px;
    width: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.statistic-card {
  background-color: $color-light-grey;
  border-radius: 3px;
  margin-right: $grid-gap;
  padding: 30px;

  min-height: 205px;
}

h2.statistic-card__value {
  @include h1;
  color: $color-primary;
  margin-bottom: 0;
}